.gen-button{
    background-color: #FFB803;
    border-radius: 0 1.6rem;
    width: 11.25rem;
    height: 3.25rem;
    padding: 1rem;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    border: none;
}