.koloz .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: grotesk-regular;
    padding: 1.88rem 7.38rem 0 120px;
}

.koloz .navbar ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.koloz .navbar ul div img{
    width: 113px;
    display: none;
}

ul .close{
    display: none;
}

.hamburger{
    display: none;
}

.koloz .navbar ul li {
    font-weight: 400;
    font-size: 1.25rem;
    padding: 0.125rem;

}

.koloz .navbar ul li:hover{
    border-bottom: 4px solid #FFB803;
    transition: 0.2s ease all;
    cursor: pointer;
}

@media screen and (max-width:580px) {

    .koloz .navbar {
        padding: 1.88rem 1rem 0;
        position: relative;
    }

    .koloz .navbar div img{
        width: 126px;
    }

    .koloz .navbar ul{
        position: absolute;
        top: -15rem;
        left: -20rem;
        flex-direction: column; 
        gap: 3px;
        text-align: left; 
        background-color: #FFFFFF;
        height: 100vh;
        width: 273px;
        padding-top: 1rem;
        transition: all 0.5s ease;
    }

    .koloz .navbar ul li{
        line-height: 1;
        margin-top: 1.9rem;
    }

    .koloz .navbar ul.display{
        position: absolute;
         flex-direction: column; 
        gap: 3px;
        text-align: left; 
        top: -0.5rem;
        left: -2rem;
        background-color: #FFFFFF;
        height: 100vh;
        width: 273px;
        padding-top: 1rem;
        transition: all 0.5s ease;
    }

    .koloz .navbar ul div img{
        display: flex;
    }
    
    ul .close{
        display: flex;
        position: absolute;
        left: 17.6rem;
        font-size: 1.8rem;
    }

    .hamburger{
        display: flex;
        font-size: 2rem;
    }
}