.koloz .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: grotesk-regular;
    padding: 1.88rem 7.38rem 0 120px;
}

.koloz .navbar ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.hamburger{
    display: none;
}

.koloz .navbar ul li {
    font-weight: 400;
    font-size: 1.25rem;
    padding: 0.125rem;

}

.koloz .navbar ul li:hover{
    border-bottom: 4px solid #FFB803;
    transition: 0.2s ease all;
    cursor: pointer;
}

@media screen and (max-width:580px) {

    .koloz .navbar {
        padding: 1.88rem 1rem 0;
    }

    .koloz .navbar div img{
        transform: scale(0.7);
    }

    .koloz .navbar ul{
        display: none;
    }

    .hamburger{
        display: flex;
        font-size: 2rem;
    }
}