body{
  margin: 0;
  font-family: grotesk-regular;
  font-size: 16px;
}

.koloz {
  text-align: center;
}

@font-face {
  font-family: grotesk-regular;
  src: url(fonts/static/SpaceGrotesk-Regular.ttf);
}

@font-face {
  font-family: grotesk-bold ;
  src: url(fonts/static/SpaceGrotesk-Bold.ttf);
}
